# GENERAL
DISCORD_APP_ID=
DISCORD_BOT_TOKEN=
DISCORD_LINK=https://discord.com

# CHANNEL
BLACKLIST_CHAN_ID=
LOGS_CHAN_ID=
LIVE_CHAN_ID=
VIDEO_CHAN_ID=
NO_LIVE_CHAN_ID=
LEVELS_CHAN_ID=

# ROLES
	# Separate with a coma
ADMIN_ROLE_IDS=
	# Separate with a coma
PING_YOUTUBE_VIDEO_ROLE_IDS=
	# Separate with a coma
PING_YOUTUBE_LIVE_ROLE_IDS=

# YOUTUBE
YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_ID=
YOUTUBE_LINK=https://www.youtube.com

# DATABASE
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
